.navbar-container{
    margin:2% 10%;
}


.container-fluid{
    padding: 0%;
}

/* .alert{
    text-align: center;
} */

div{
    font-family: 'Montserrat', sans-serif;
}

.title{
    font-weight: bold;
    font-size: 150%;
    color: grey;
}


.active{
    color: gray;
}

.space{
    padding: 2%;
}

.home{
    margin:1% 10%;
    padding-bottom: 10%;
    text-align: left;
}

.heading{
    padding-top: 15%;
    font-weight: 700;
    font-size: 350%;
}

.home-img{
    margin-top: 20%;
    width: 100%;
    padding-bottom: 15%;
}

.row-course{
    margin:1% 10%;
}
.track{
    font-weight: bold;
}

.learn-btn{
    margin-top: 1%;
}

.card{
    margin: 1%;
    /* box-shadow: 1px 1px 2px; */
}

.ide{
    padding: 10% 10% 10%;
}

.row-ide{
    margin: 0;
    padding: 0;
}

.ans{
    background-color: gray;
}

.program{
    font-weight: bold;
}
.output{
    font-weight: bold;
}

.footer{
    text-align: center;
    color: aliceblue;
    padding: 2%;
    background-color: rgb(37, 36, 51);
}